@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

html, body, #__nuxt, #__layout {
  height: 100%;
  overflow: hidden;
}

.el-button:active, .el-button:focus, .el-button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #464646;
}
